<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Use this to bookmark tweets with url in your feed.">
    <meta name="author" content="Rishabh Thukral">

    <title>TWITter Url Bookmarker</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename = 'css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename = 'css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{url_for('static', filename = 'css/stylish-portfolio.css')}}" rel="stylesheet">

  </head>

  <body>
    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>TWIT.U.B.</h1>
        <h3>Use Twitter Url Bookmarker to bookmark all the tweets in your twitter feed with any url embeding</h3>
        <br>
        <form method="POST"><input type="image" src="{{url_for('static', filename = 'img//sign-in-with-twitter-gray.png')}}" border="0" alt="Sign in using twitter" /></form>
        <br>

        {% for message in get_flashed_messages() %}
          <p>{{ message }}</p><br>
        {% endfor %}
        <!-- <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Find Out More</a> -->
      </div>
    </header>

    

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="vendor/popper/popper.min.js"></script> -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for this template -->
   <!--  <script src="js/stylish-portfolio.js"></script> -->

  </body>

</html>
